/**
* Main CSS file
* @package News Show Pro GK4
* @Copyright (C) 2009-2012 Gavick.com
* @ All rights reserved
* @ Joomla! is Free Software
* @ Released under GNU/GPL License : http://www.gnu.org/copyleft/gpl.html
* @version $Revision: GK4 1.0 $
**/

.nsp { position: relative; } 
.nspMain { overflow:hidden; }
.nspBotInterface,
.nspTopInterface { overflow:hidden; margin:5px 0; clear: both; }
.nspBotInterface div,
.nspTopInterface div { float:right; }
/* Interface - for different looking Top and Bottom interface use the following classes:  .nspTopInterface and .nspBotInterface (e.g.: .nspTopInterface .nspPagination li ...) */
.nspPagination { list-style-type:none !important; margin:3px 0 0 !important; padding:0 !important; float:left; }
.nspPagination li { float:left; width: 8px; height: 8px; margin: 0 4px 0 0 !important; background: url('../images/interface.png') no-repeat 50% 0; text-indent:-999em; cursor:pointer; }
.nspPagination li:hover,
.nspPagination li.active { background-position: 50% -8px; }
.nspNext,
.nspPrev { float:left; width: 14px; height: 14px; margin:0 0 0 4px; background: url('../images/interface.png') no-repeat 0 -16px; text-indent:-999em; cursor:pointer; }
.nspPrev { background-position: 0 -44px }
.nspNext:hover,
.nspPrev:hover { background-position: 0 -30px }
.nspPrev:hover { background-position: 0 -58px }
.nspCounter {  float:left; margin:0 0 0 8px; padding:1px 4px; border: 1px solid #ddd; border-radius:2px 2px; -moz-border-radius:2px 2px; -webkit-border-radius:2px 2px; color: #878787; font-size:9px;cursor:pointer; }
.nspCounter span { }
.nspBotInterface .nspCounter strong,
.nspTopInterface .nspCounter strong { }
.nspArts { overflow:hidden; }
.nspArtPage { float: left; }
.nspArt { float:left; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
.nspArt div { overflow: hidden; }
.nspArt h4.nspHeader { }
.nspArt h4.nspHeader a { text-decoration: none }
.nspArt h4.nspHeader a:hover { }
.nspArt img.nspImage { border: none }
.nspArt p.nspText { float:none; }
.nspArt p.nspText a { }
.nspArt p.nspText a:hover { }
.nspArt p.nspInfo { font-size:90% }
.nspArt p.nspInfo a { }
.nspArt p.nspInfo a:hover { }
.nspArt .tleft { text-align:left; }
.nspArt .tright { text-align:right; }
.nspArt .tcenter { text-align:center; }
.nspArt .tjustify { text-align:justify; }
.nspArt .fleft { float:left; }
.nspArt .fright { float:right; }
.nspArt .fnone { clear:both; width:100%; float:none; }
.readon.left,
.readon.right,
.readon.center { clear:both; }
.readon.left { float:left; }
.readon.right { float:right; }
.readon.center { display:inline; float:none; }
.nspAvatar { }
.nspLinks { }
.nspList { float: left; }
.nspLinks ul { padding:0 !important; list-style-type:none !important; }
.nspLinks ul li { margin: 0 30px 0 0 !important }
.nspLinks ul li:hover { }
.nspLinks ul li h4 { }
.nspLinks ul li h4 a { text-decoration: none }
.nspLinks ul li h4 a:hover { }
.nspLinks ul li p { }
/* positioning */
.nspArts.left { float:right; }
.nspLinksWrap.left { float:left; }
.nspArts.right { float:left; }
.nspLinksWrap.right { float:right; }
/* make element unvisible */
.nspMain .unvisible { height:1px; left:-10000px; overflow:hidden; position:absolute; top:auto; width:1px; }
/* font-size classes */
.nspFs80 { font-size:80%; }
.nspFs90 { font-size:90%; }
.nspFs100 { font-size:100%; }
.nspFs110 { font-size:110%; }
.nspFs120 { font-size:120%; }
.nspFs130 { font-size:130%; }
.nspFs140 { font-size:140%; }
.nspFs150 { font-size:150%; }
.nspFs160 { font-size:160%; }
.nspFs170 { font-size:170%; }
.nspFs180 { font-size:180%; }
.nspFs190 { font-size:190%; }
.nspFs200 { font-size:200%; }
/* New responsive layout */
.gkResponsive img.nspImage,
img.nspImage.gkResponsive { height: auto; }
.nspArt img.nspImage { max-width: 100%; }
.nspArtScroll1,
.nspLinkScroll1 { width: 100%; }
.nspPages1 { width: 100%; }
.nspPages2 { width: 200%; }
.nspPages3 { width: 300%; }
.nspPages4 { width: 400%; }
.nspPages5 { width: 500%; }
.nspPages6 { width: 600%; }
.nspPages7 { width: 700%; }
.nspPages8 { width: 800%; }
.nspPages9 { width: 900%; }
.nspPages10 { width: 1000%; }
.nspCol1 { width: 100%; }
.nspCol2 { width: 50%; }
.nspCol3 { width: 33.3%; }
.nspCol4 { width: 25%; }
.nspCol5 { width: 20%; }
.nspCol6 { width: 16.66%; }
.nspCol7 { width: 14.285%; }
.nspCol8 { width: 12.5%; }
.nspCol9 { width: 11.1%; }
.nspCol10 { width: 10%; }
.nspCol11 { width: 9.09%; }
.nspCol12 { width: 8.33%; }
.nspCol13 { width: 7.69%; }
.nspCol14 { width: 7.14%; }
.nspCol15 { width: 6.66%; }
.nspCol16 { width: 6.25%; }
.nspCol17 { width: 5.88%; }
.nspCol18 { width: 5.55%; }
.nspCol19 { width: 5.26%; }
.nspCol20 { width: 5%; }
/* VM elements */
.nspVmStore .PricesalesPrice { margin: 0; padding: 0; float: left; }
.nspVmStore .PricediscountAmount { font-size: 11px; line-height: 12px; color: #b6b6b6; float: left; clear: left; } 
.nspVmStore .PricetaxAmount { font-size: 11px; line-height: 12px; color: #b6b6b6; float: left; clear: left; }
.nspVmStore input.addtocart-button { width: 30px; height: 30px; background: transparent url('../images/nsp_add_to_cart.png') no-repeat 0 0; margin: 0; float: right; text-indent: -999em; }
.nspVmStore input.addtocart-button:hover { background-position: 0 bottom!important; }
.nspVmStore div.PricesalesPrice { font-size: 18px; line-height: 22px; }
.nspVmStore { height: 40px; padding: 12px 0 0;border-top: 1px solid #eee; }
.nspVmStore form { float: right; }