/**
*
* Styles for informes
*
*/

ul{ list-style: none; list-style-type: none; }
.error { color:red; margin-left: 5px; }
ul.pdf-list li , ul.excel-list li  { display: inline-block; min-width: 300px; font-size: 14px; }
ul.pdf-list li i, span { display: inline-block; vertical-align: middle;}
ul.excel-list li i, span { display: inline-block; vertical-align: middle;}
ul.pdf-list li i, ul.excel-list li i.icon-excel  { 
	background-image: url('../images/excel-icon.png');
	background-repeat: no-repeat;
	width: 34px;
	height: 32px;
	margin-right: 10px;
}

ul.pdf-list li span.filename, ul.excel-list li span.filename { width: 80px;	text-align: center; } 

ul.pdf-list li i, ul.excel-list li i.icon-pdf  { 
	background-image: url('../images/pdf-icon.png');
	background-repeat: no-repeat;
	width: 34px;
	height: 32px;
	margin-right: 10px;
}

ul.pdf-list li .progress-bar, ul.excel-list li .progress-bar{

	width: 0;
	height: 13px;
	background-color: #004D79;
	margin-left: 10px;

	-webkit-transition( width, 400ms );
	-moz-transition( width, 400ms );
	transition( width, 400ms );
}

ul.pdf-list li .percentage{	margin-left: 10px; }
ul.excel-list li .percentage{	margin-left: 10px; }

ul.excel-parse-list li.progress, .truncate-label.progress {
	display: inline-block;
	width: 98%;
	padding: 10px;
	margin: 10px 0;
	background-color: #FFF;
	border: 1px solid #AFAFAF;
	font-size: 13px;
}

ul.excel-parse-list li.success, .truncate-label.success {
	color: #008000;
	display: inline-block;
	width: 98%;
	padding: 10px;
	margin: 10px 0;
	background-color: #CBF3DD;
	border: 1px solid #009E3F;
	font-size: 13px;
}

ul.excel-parse-list li.error, .truncate-label.error {
	display: inline-block;
	width: 98%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #9E0000;
	color: #99000C;
	background-color: #F6DFE0;
	font-size: 13px;
}

.icon-48-logo{  background: url('../images/logo.png') 0 0 no-repeat; }

.import-label { display: inline-block; width: 100%; margin-top: 15px; }

#importar-datos {
	display: inline-block;
	padding: 8px 17px;
	margin-bottom: 6px;
	background-color: #000;
	color: #FFF;
}

#importar-datos:hover {
	background-color: #960000;
	text-decoration: none;
}

.pdf-upload-status {
	display: inline-block;
	width: 98%;
	padding: 10px;
	margin: 15px 0;
	background-color: #FFF;
	border: 1px solid #ADADAD;
	font-size: 14px;
}

.pdf-upload-status.success { background-color: #D0EEDE; border: 1px solid #2B8D46; }
.pdf-upload-status.error { background-color: #EED0D0; border: 1px solid #AA2B2B; }
.pdf-upload-status.warning { background-color: #FFFBE0; border: 1px solid #E6B95C; }

.pdf-upload-status-list { display: none; }
.pdf-upload-status-list li { margin: 15px 0; padding: 0; }
.pdf-status-bar, .pdf-total-bar { position: relative; }
.pdf-status-bar .bar-inside, .pdf-total-bar .bar-inside {
	display: inline-block;
	width: 0%;
	height: 30px;
	background-color: #058DB8;
	color: #FFF;
	text-align: center;
}

.bar-inside.success { background-color: #11A056; color: #FFF; }

.pdf-status-bar .bar-message, .pdf-total-bar .bar-message {
	position: absolute;
	top: 6px;
	left: 50%;
	margin-left: -150px;
	width: 300px;
	text-align: center;
	color: #0D495C;
}

.pdf-total-title {
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
}

.pdf-error-list { display:none; color: #F00; }

.excel-reporte {
	display: none;
	background-color: #FFFAE7;
	padding: 12px;
	font-size: 14px;
}

.excel-reporte ul { color: green; } 

.excel-log {
	background: #FFF;
	padding: 14px;
	font-size: 14px;
}

.pdf-log {
	display: none;
	padding: 13px;
	background-color: #FFF;
	font-size: 12px;
}

.pdf-log span {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}


.adminform .hero-unit{
	text-align: justify !important;

}

.qq-upload-button{ width: 200px; }