/**
*
* Styles for object
*
*/
.close-session{
	font-size: 16px;
	font-weight: bold;
	text-align: justify;
	text-decoration: none;
	display: inline-block;
	width: 100%;
}

.login-greeting, .control-group{
	width: 50%;
	float: left;
}

.control-group input[value="Desconectar"]{
	text-transform: capitalize;
}

#tabs .pdfs-content ul{
	list-style: none;
	list-style-type: none;
	display: inline-block;
	width: 100%;
	margin-top: 15px;
}

#tabs .pdfs-content ul li{
	width: 70%;
	display: inline-block;
	float: left;
}

#tabs .pdfs-content ul li.lastItem a{
	margin-top: 16px;
	display: inline-block;
}

#tabs .pdfs-content ul li.firstItem{
	width: 5%;
}

#tabs img{
	max-width: none;
}