
/**************************************************************************************/
/*
/*		Web: http://www.asdesigning.com
/*		Web: http://www.astemplates.com
/*		License: GNU/GPL
/*
/**************************************************************************************/

#as-menu 
{
    background-color: transparent;
	background-image: none;
	min-height: 45px;
	padding: 10px 0 15px;	
}

#as-menu ul.as-menu
{
	float: right;
}

#as-menu ul.as-menu > li a,
#as-menu ul.as-menu > li > span
{
	margin: 0px;
	padding: 0px 10px;
	display: block;
	font-weight: normal;
	line-height: auto normal;
	letter-spacing: 0px;
	color: #ffffff;	
	text-transform: uppercase;
}

#as-menu ul.as-menu > li > span.separator
{
	font-size: 14px;	
}

#as-menu ul.as-menu > li,
#as-menu ul.as-menu > li:hover
{
	width: auto;
	margin: 0;
	padding: 10px 0 10px 35px;
	transition: background-color 0.3s ease 0.1s;
	border-radius: 0;
}

#as-menu ul.as-menu > li.active,
#as-menu ul.as-menu > li.current,
#as-menu ul.as-menu > li:hover
{
	transition: background-color 0.3s ease 0.1s;
}

#as-menu ul.as-menu > li.lastItem
{
	border-right: none !important;
}

#as-menu ul.as-menu > li:first-child
{
}

#as-menu ul.as-menu > li.deeper > a:after
{
	top: -2px;	
	content: none;
}

#as-menu ul.as-menu > li.active > a,
#as-menu ul.as-menu > li.current > a,
#as-menu ul.as-menu > li.asHover > a,
#as-menu ul.as-menu > li:hover > a,
#as-menu ul.as-menu > li > a:hover,
#as-menu ul.as-menu > li > span:hover
{
	color: #333;
}

#as-menu ul.as-menu > li > a
{
	color: #333;	
}

#as-menu ul.as-menu > li.active a,
#as-menu ul.as-menu > li.current a,
#as-menu ul.as-menu > li:hover a
{
	color: #e92240;
	transition:  0.3s ease 0.1s;
}

#as-menu ul.as-menu li:hover ul,
#as-menu ul.as-menu li.asHover ul
{
	left: 0;
	top: 68px;
	z-index: 100;
}

#as-menu ul.as-menu ul
{
	background-color: #666;	
	background-image: -moz-linear-gradient(top, #333, #666);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#666));
	background-image: -webkit-linear-gradient(top, #333, #666);
	background-image: -o-linear-gradient(top, #333, #666);
	background-image: linear-gradient(to bottom, #333, #666);
	border-radius: 0px;	
}

#as-menu ul.as-menu ul li a,
#as-menu ul.as-menu ul li span
{
	margin: 0px;
	color: #fff !important;
}

#as-menu ul.as-menu ul li a:hover,
#as-menu ul.as-menu ul li span:hover,
#as-menu ul.as-menu ul li.active > a,
#as-menu ul.as-menu ul li.asHover > a,
#as-menu ul.as-menu ul li.active > span,
#as-menu ul.as-menu ul li.asHover > span
{
	color: #509BD2 !important ;
}

#as-menu ul.as-menu ul ul
{
	left: 162px !important;
}