.tp-caption.slider-title {
font-size:50px;
line-height:60px;
font-weight:normal;
font-family:'Fjalla One',sans-serif;
color:#ffffff;
text-decoration:none;
background-color:transparent;
text-shadow:none;
text-align:right;
text-transform:uppercase;
margin:0px;
letter-spacing:1px;
padding:1px 4px 0px 4px;
height:auto;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
}

.tp-caption.slider-caption {
font-size:16px;
line-height:20px;
font-weight:normal;
font-family:Tahoma,Geneva,sans-serif;
color:#ffffff;
text-decoration:none;
background-color:transparent;
text-shadow:none;
text-align:right;
text-transform:lowercase;
margin:0px;
letter-spacing:1px;
padding:1px 4px 0px 4px;
height:auto;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
}

